<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV_CLOUD_PRIVATE_KEY_PKCS8_B64</key>
	<string></string>
	<key>DEV_AUTH_USER_PUBLIC_KEY_SPKI_B64</key>
	<string></string>
	<key>DEV_AUTH_USER_PRIVATE_KEY_PKCS8_B64</key>
	<string></string>
</dict>
</plist>
